<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <div class="col-xs-4 col-sm-4 col-md-4 mx-auto">
        <div class="card bg-dark text-primary">
            <div class="card-header text-center border-bottom border-primary">
                <div class="card-title h3">
                    Change Password
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="formValidation" (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <input formControlName="password" [class.is-invalid]="password?.invalid && password?.touched && formValidation.errors?.misMatch"
                        type="password" name="password" placeholder="New Password" class="form-control rounded-pill"/>
                        <div *ngIf="password?.invalid && password?.touched">
                            <small *ngIf="password?.errors?.required" class="text-danger">
                                Password is required
                            </small>
                            <small *ngIf="password?.errors?.pattern" class="text-danger">
                                (Password must contain at least one number, one uppercase, lowercase letter, 
                                special charector, min 8 or max 18 characters)
                            </small>
                        </div>
                        <small *ngIf="formValidation.errors?.misMatch" class="text-danger">
                            (Password and Confirm password does not match)
                        </small>
                    </div>
                    <div class="form-group">
                        <input formControlName="conPassword" [class.is-invalid]="conPassword?.invalid && conPassword?.touched && formValidation.errors?.misMatch"
                        type="password" name="conPassword" placeholder="Confirm Password" class="form-control rounded-pill"/>
                        <div *ngIf="conPassword?.invalid && conPassword?.touched">
                            <small *ngIf="conPassword?.errors?.required" class="text-danger">
                                Password is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="formValidation?.invalid" type="submit" class="btn btn-primary rounded-pill w-100">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
