<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="main-body">
        <button (click)="goBack()" class="btn btn-primary">
            Back
        </button>
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img [src]="user.avtar" alt="Admin" class="rounded-circle" width="150" height="150">
                    <div class="mt-3">
                      <h4>{{user.userName}}</h4>
                      <p class="text-secondary mb-1">{{user.aboutme}}</p>
                      <p class="text-muted font-size-sm">{{user.address}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                      </svg>
                      Website
                    </h6>
                    <span [hidden]="web" class="text-secondary">
                        <a *ngIf="!!user.website" href="{{user.website}}">
                            Show
                        </a>
                        <a *ngIf="!!!user.website" class="text-info">
                            add-Link
                        </a>
                    </span>
                    <button [hidden]="web" *ngIf="userAccess()" (click)="editWebsite()" class="btn btn-success fa fa-pencil float-right"></button>
                    <form [hidden]="!web" #userForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline">
                        <input [(ngModel)]="user.website" #website="ngModel" 
                        [class.is-invalid]="website?.invalid && website?.touched"
                        [pattern]="linkPatten" name="website" class="form-control"/>
                        <button [disabled]="userForm.form.invalid" class="btn btn-success">
                            Submit
                        </button>
                        <button (click)="cancelWebsite()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="website?.invalid && website?.touched" class="text-danger">
                            (Give a proper url)
                        </small>
                    </form>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                        </svg>
                        Github
                    </h6>
                    <span [hidden]="git" class="text-secondary">
                        <a *ngIf="!!user.github" href="{{user.github}}">
                            Show
                        </a>
                        <a *ngIf="!!!user.github" class="text-info">
                            add-Link
                        </a>
                    </span>
                    <button [hidden]="git" *ngIf="userAccess()" (click)="editGithub()" class="btn btn-success fa fa-pencil float-right"></button>
                    
                    <form [hidden]="!git" #userForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline">
                        <input [(ngModel)]="user.github" #github="ngModel" [class.is-invalid]="github?.invalid && github?.touched"
                        [pattern]="gitUrl" name="github" class="form-control"/>
                        <button [disabled]="userForm.form.invalid" class="btn btn-success">
                            Submit
                        </button>
                        <button (click)="cancelGithub()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="github?.invalid && github?.touched" class="text-danger">
                            (Give a proper github url)
                        </small>
                    </form>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info">
                        <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                      </svg>
                      Twitter
                    </h6>
                    <span [hidden]="twit" class="text-secondary">
                      <a *ngIf="!!user.twitter" href="{{user.instagram}}">
                        Show
                      </a>
                      <a *ngIf="!!!user.twitter" class="text-info">
                        add-Link
                      </a>
                    </span>
                    <button [hidden]="twit" *ngIf="userAccess()" (click)="editTwitter()" class="btn btn-success fa fa-pencil float-right"></button>
                  
                    <form [hidden]="!twit" #userForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline">
                        <input [(ngModel)]="user.twitter" #twitt="ngModel" 
                        [class.is-invalid]="twitt?.invalid && twitt?.touched"
                        [pattern]="twitUrl" name="twitter" class="form-control"/>
                        <button [disabled]="userForm.form.invalid" class="btn btn-success">
                            Submit
                        </button>
                        <button (click)="cancelTwitter()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="twitt?.invalid && twitt?.touched" class="text-danger">
                            (Give a proper twitter url)
                        </small>
                    </form>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger">
                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                      </svg>
                      Instagram
                    </h6>
                    <span [hidden]="insta" class="text-secondary">
                      <a *ngIf="!!user.instagram" href="{{user.instagram}}">
                        Show
                      </a>
                      <a *ngIf="!!!user.instagram" class="text-info">
                        add-Link
                      </a>
                    </span>
                    <button *ngIf="userAccess()" (click)="editInstagram()" class="btn btn-success fa fa-pencil float-right"></button>
                    
                    <form [hidden]="!insta" #userForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline">
                        <input [(ngModel)]="user.instagram" #instagram="ngModel" 
                        [class.is-invalid]="instagram?.invalid && instagram?.touched"
                        [pattern]="instaUrl" name="instagram" class="form-control"/>
                        <button [disabled]="userForm.form.invalid" class="btn btn-success">
                            Submit
                        </button>
                        <button (click)="cancelInstagram()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="instagram?.invalid && instagram?.touched" class="text-danger">
                            (Give a proper instagram url)
                        </small>
                    </form>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary">
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                      </svg>
                      Facebook
                    </h6>
                    <span [hidden]="face" class="text-secondary">
                      <a *ngIf="!!user.facebook" href="{{user.facebook}}">
                        Show
                      </a>
                      <a *ngIf="!!!user.facebook" class="text-info">
                        add-Link
                      </a>
                    </span>
                    <button [hidden]="face" *ngIf="userAccess()" (click)="editFacebook()" class="btn btn-success fa fa-pencil float-right"></button>
                  
                    <form [hidden]="!face" #userForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline">
                        <input [(ngModel)]="user.facebook" #facebook="ngModel" 
                        [class.is-invalid]="facebook?.invalid"
                        [pattern]="facebookUrl" name="instagram" class="form-control"/>
                        <button [disabled]="userForm.form.invalid" class="btn btn-success">
                            Submit
                        </button>
                        <button (click)="cancelFacebook()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="facebook?.invalid" class="text-danger">
                            (Give a proper facebook url)
                        </small>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">ID </h6>
                    </div>
                    <div [hidden]="name" class="col-sm-9 text-secondary">
                      {{user._id}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div [hidden]="name" class="col-sm-9 text-secondary">
                      {{user.userName}}
                      <button *ngIf="userAccess()" (click)="editName()" class="btn btn-primary fa fa-pencil float-right"></button>
                    </div>
                    <form (ngSubmit)="onSubmit()" #userForm="ngForm" [hidden]="!name" class="col-sm-9 text-secondary form-inline">
                        <input [(ngModel)]="user.userName" #userName="ngModel" [class.is-invalid]="userName?.invalid"
                        name="userName" minlength="3" maxlength="15" [size]="40" class="form-control"/>
                        <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button (click)="cancelName()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="userName?.invalid" class="text-danger">
                            (Name is required and must be more than 3 letter's adn less than 15 letters)
                        </small>
                    </form>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div [hidden]="mob" class="col-sm-9 text-secondary">
                      {{user.mobile}}
                      <button *ngIf="userAccess()" (click)="editMobile()" class="btn btn-primary fa fa-pencil float-right"></button>
                    </div>
                    <form (ngSubmit)="onSubmit()" #userForm="ngForm" [hidden]="!mob" class="col-sm-9 text-secondary form-inline">
                        <input [(ngModel)]="user.mobile" #mobile="ngModel" [class.is-invalid]="mobile?.invalid && mobile?.touched"
                        name="mobile" pattern="[0-9] {10}" [size]="40" class="form-control"/>
                        <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button (click)="cancelMobile()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="mobile?.invalid && mobile?.touched" class="text-danger">
                            (Mobie number is required and must be a 10 digit mobile number)
                        </small>
                    </form>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">About</h6>
                    </div>
                    <div [hidden]="about" class="col-sm-9 text-secondary">
                      {{user.aboutme}}
                      <button *ngIf="userAccess()" (click)="editAboutme()" class="btn btn-primary fa fa-pencil float-right"></button>
                    </div>
                    <form (ngSubmit)="onSubmit()" #userForm="ngForm" [hidden]="!about" class="col-sm-9 text-secondary form-inline">
                        <input [(ngModel)]="user.aboutme" #aboutme="ngModel" [class.is-invalid]="aboutme?.invalid && aboutme?.touched"
                        maxlength="30" name="aboutme" [size]="40" class="form-control"/>
                        <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button (click)="cancelAboutme()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="aboutme?.invalid && aboutme?.touched" class="text-danger">
                            (About me must be less than 30 letters)
                        </small>
                    </form>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div [hidden]="addr" class="col-sm-9 text-secondary">
                      {{user.address}}
                      <button *ngIf="userAccess()" (click)="editAddress()" class="btn btn-primary fa fa-pencil float-right"></button>
                    </div>
                    <form (ngSubmit)="onSubmit()" #userForm="ngForm" [hidden]="!addr" class="col-sm-9 text-secondary form-inline">
                        <textarea [(ngModel)]="user.address" #address="ngModel" [class.is-invalid]="address?.invalid && address?.touched"
                        maxlength="4000" name="address" cols="40" rows="4" class="form-control"></textarea>
                        <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary float-right">
                            Submit
                        </button>
                        <button (click)="cancelAddress()" class="btn btn-danger">
                            Cancel
                        </button>
                        <small *ngIf="address?.invalid && address?.touched" class="text-danger">
                            (Address must be less than 4000 letters)
                        </small>
                    </form>
                </div>
            </div>
        </div>
        <div class="mx-auto">
          <div class="card text-center">
            <div class="card-header text-center">
              <div class="card-title h3">
                Friend list
              </div>
            </div>
            <div class="card-body overflow-auto" style="height: 300px;">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col">Friend Id</th>
                    <th class="col">Name</th>
                    <th class="col">Email</th>
                    <th class="col">#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let friend of friends?.reverse()">
                    <td>{{friend._id}}</td>
                    <td>{{friend.userName}}</td>
                    <td>{{friend.email}}</td>
                    <td>
                      <i (click)="goId(friend._id)" class="fa fa-search-plus btn btn-primary" aria-hidden="true"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>