<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center mt-5">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div class="rounded-lg border border-dark bg-light p-4">
            <h1 class="d-flex justify-content-center">
                    Welcome to chat app!!!
            </h1>
            <div class="p-4">
                <strong> 
                    <span class="h5">Intro</span>
                </strong>
                <br>
                <p>
                    Hi! guys I have created this chat application. You can use it for real time
                    chatting with your friends. It is free but your data is temporarily stored
                    due limmited space in database and do not share your personal info!.
                </p>
                <p>
                    I will be adding more fetures in future. ENJOY!!!
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->